<!DOCTYPE html>
<html lang="en">
<head>
    @{
        ViewData["Title"] = "Home Page";
    }
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: rgb(255,223,125);
background: radial-gradient(circle, rgba(255,223,125,1) 0%, rgba(161,218,242,1) 100%);";>
    <div class="text-center">
        <h1 class="display-4">Dobrodošli na stranicu videoteke!</h1>
        <div><img src="~/img/Filmtape.png"></div>
    </div>
</body>
</html>