<!DOCTYPE html>
<html lang="en">
<head>
    @{
        ViewData["Title"] = "Popis filmova";
    }
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: rgb(255,223,125);
background: radial-gradient(circle, rgba(255,223,125,1) 0%, rgba(161,218,242,1) 100%);" ;>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
</div>
        <p>Home alone</p>
        <p>Mulan</p>
        <p>Pinnochio</p>
        <p>Momentum</p>
        <p>Volition</p>
        <p>The platform</p>
        <p>Extinction</p>
        <p>Ghosts of War</p>
        <p>Havana</p>
        <p>The Paramedic</p>
        <p>The Gifters</p>
        <p>Mary Shelly</p>
        <p>Automata</p>
        <p>Tenet</p>
        <p>Emperor</p>
</body>
</html>